@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #383838;
}

h1{
    font-weight: 500;
}

h2{
    font-weight: 300;
    line-height: 1.2;
}

.container{
    display: flex;
}

p{
    font-size: 1.1rem;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#header h1{
    font-size: 2rem;
}

#header img{
    width: 100px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
    height: 100%;
}

#main h2{
    font-size: 3rem;
    margin-bottom: 35px;
}

#main h3{
    font-size: 2rem;
}

#main img{
    width: 600px;
}

#main .container.box{
    flex-direction: row;
}

#main .container.box-reverse{
    flex-direction: row-reverse;
}

#main .container.box, #main .container.box-reverse{
    margin: 50px 0;
}

#main .container.box .info, #main .container.box-reverse .info{
    padding: 50px;
    align-self: center;
    justify-content: center;
}
/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}
