@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #383838;
}

h1{
    font-weight: 500;
}

h2{
    font-weight: 300;
    line-height: 1.2;
}

.container{
    display: flex;
}

p{
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: #383838;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#header h1{
    font-size: 3rem;
}


#main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    height: 100%;
    width: 95vw;
}

#main h2{
    font-size: 3rem;
    margin-bottom: 35px;
}

#main h3{
    font-size: 2rem;
}

#main h4{
    font-size: 1.5rem;
}

#main img{
    width: 700px;
}

#main img[class="port"]{
    width: 600px;
}

#main .container.box{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main .container.box-reverse{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#main .container.box, #main .container.box-reverse{
    margin: 100px 0;
}

#main a:hover{
    opacity: 0.9;
}

#main .container.box .info{
    margin-left: 150px;
}

#main .container.box-reverse .info{
    margin-right: 150px;
}

#main .container.box .info, #main .container.box-reverse .info{
    align-self: center;
    justify-content: center;
}

.hide{
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
}

.show{
    visibility: visible;
    opacity: 1;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    color: #383838;
}

.footer .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer i{
    color: #383838;
    font-size: 1.5rem;
}

.footer a{
    font-size: 1.3rem;
    margin: 0 20px;
}

.footer a:hover{
    color: #787878;
}

/* MediaQuerys */

@media (max-width: 1750px){

    #main{
        padding: 0 125px;
        width: 100vw;
    }
    #main img{
        width: 600px;
    }
    
    #main img[class="port"]{
        width: 400px;
    }

    #main h2{
        font-size: 2.5rem
    }

    #main p{
        font-size: 1rem;
    }

    #main .container.box .info{
        margin-left: 70px;
    }
    
    #main .container.box-reverse .info{
        margin-right: 70px;
    }
}

@media (max-width: 1300px){
    #header{
        justify-content: center;
    }
    #main{
        padding: 0 200px;
        width: 100vw;
    }

    #main .container.box, #main .container.box-reverse{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #main .container.box, #main .container.box-reverse{
        margin: 50px 0;
    }

    #main img{
        width: 600px;
        margin-bottom: 50px;
    }
    
    #main img[class="port"]{
        width: 600px;
    }

    #main .container.box .info, #main .container.box-reverse .info{
        align-self: center;
        justify-content: center;
    }

    #main .container.box .info, #main .container.box-reverse .info{
        margin: 0;
    }

    .footer .social a, .footer .social i{
        font-size: 1rem;
    }
}
@media (max-width: 700px){
    #main img{
        width: 450px;
        margin-bottom: 50px;
    }
    
    #main img[class="port"]{
        width: 450px;
    }

    .footer .social{
        flex-direction: column;
    }

    .footer .social i, .footer .social a{
        margin: 3px 0;
    }

    .footer p{
        font-size: 1rem;
    }
}

@media (max-width: 500px){

    #main{
        padding: 0 85px;                   
    }
    #main img{
        width: 350px;
        margin-bottom: 50px;
    }
    
    #main img[class="port"]{
        width: 300px;
    }

    #main h4{
        font-size: 0.9rem;
    }
}